body {
background-color: black;
color: white;
font-family: "Courier New", Courier, monospace;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
}
.login {
text-align: center;
}
input {
background-color: black;
color: white;
border: none;
border-bottom: 1px solid white;
width: 200px;
padding: 10px;
margin: 10px 0;
font-size: 16px;
text-align: center;
}
input[type="submit"] {
cursor: pointer;
text-transform: uppercase;
border: 1px solid white;
width: 100px;
}
input:focus {
outline: none;
}
