@font-face {
 font-family: "got";
 src: url("Blackside.ttf") format("truetype");
}

body {
 background: url("pc.jpg") no-repeat center center fixed;
 background-size: cover;
 background-color: black;
 font-family: "got";
 text-align: center;
 overflow: hidden;
 margin: 0;
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

@media (max-width: 768px) {
 body {
  background: url("mobile.png") no-repeat center center fixed;
  background-size: cover;
 }
}

.img {
 width: 150px;
 margin-bottom: 15px;
 width: 150px;
}

h1 {
 font-size: 2rem;
 position: relative;
 display: inline-block;
 letter-spacing: 2px;
 color: #bababa;
}

.teste {
 display: inline-block;
 font-size: 1.5rem;
 transition: transform 0.1s linear;
}

*{
-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
} 
input, 
textarea, 
button, 
select, 
a{ 
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} 


a:focus, 
a:visited, 
a:active{
  outline: none; 
} 
